label{
    color: white;
}

.form-container{
    /* background-color: #3F3F41; */
    display: grid;
    grid-template: auto;
    justify-content: center;
    
}
.form-inner-container{
    /* background-color: #970d1a #4e204d; */

    display: grid;
    height: 30vh;
    align-content: center;
    /* justify-content: center; */


}
h5{
    text-align: center;
}
ul{
    list-style-type: none;
}

label{
    font-family: "Archivo";
}